* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: #7e3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu-btn2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
  cursor: pointer;
  transition: all 05s ease-in-out;
  /*   border: 3px solid #fff; */
  /*   margin-left: 100px; */
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
  cursor: pointer;
  transition: all 05s ease-in-out;
  /*   border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger2 {
  width: 7px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 6px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger2::before,
.menu-btn__burger2::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn__burger2::before {
  transform: translateY(-16px);
}

.menu-btn__burger2::after {
  transform: translateY(16px);
}

/* Animi */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Animi2 */
.menu-btn2.open .menu-btn__burger2 {
  transform: translateX(-15px);
  background: transparent;
  box-shadow: none;
}
.menu-btn2.open .menu-btn__burger2::before {
  transform: rotate(35deg) translate(35px, -35px);
  transform: perspective(10deg);
}
.menu-btn2.open .menu-btn__burger2::after {
  transform: rotate(-35deg) translate(35px, 35px);
  transform: perspective(10deg);
}
